{% extends 'base.html' %}

{% block content %}
    <div class="row mt-4">
        <div class="col-2 d-flex flex-column text-center">
            {% for Cat in theCats %}
                <a class="btn btn-secondary m-1" href="/s_{{ theAli }}/c_{{ Cat.Alias }}">{{ Cat.Name }}</a>
            {% endfor %}
        </div>
        <div class="col">
            {% for Post in thePosts %}
                <div class="card mt-2" >
                    <div class="row no-gutters">
                        <div class="col-2 p-1">
                            <img src="{{ Post.logo.url }}" class="card-img" alt="...">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ Post.title }}</h5>
                                <p class="card-text">{{ Post.text }}</p>
                                <p class="card-text">
                                    <div class="btn-group">
                                    <button type="button" class="btn btn-outline-success" href="/">Link 1</button>
                                    <button type="button" class="btn btn-outline-success" href="/">Link 2</button>
                                    <button type="button" class="btn btn-outline-success" href="/">Link 2</button>
                                    </div>
                                    <button type="button" class="btn btn-outline-info">Source</button>
                                    <button type="button" class="btn btn-outline-secondary">More..</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}