{% load staticfiles %}
<html>
    <head>
        <title>{{ glo_settings.Blog_Title }}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <style type="text/css">
            .page-header{
                background: {{ glo_settings.Header_Background }};
            }
            h3,
            .page-header h1,
            .page-header h1 a,
            .page-header h1 a:visited,
            .page-header h1 a:active{
                color: {{ glo_settings.Header_Text_Color }};
            }
            h2 a,
            h2{
                color: {{ glo_settings.Titles_Color }};
            }
        </style>
    </head>
    <body>
        <div class="page-header">
            <img src="{{ glo_settings.Blog_Logo.url }}" height="128" style="">
            <h1>
              <a href="/" >
                {{ glo_settings.Blog_Title }}
              </a>
            </h1>
            <h3>
                {{ glo_settings.Blog_Description }}
            </h3>
        </div>

        <div class="content">
        {% block content %}
        {% endblock %}
        </div>

      <div style="text-align:center">
        <a href="/admin" target="_blank">Admin UI</a>
      </div>
    </body>
</html>
