{% load staticfiles %}
<html>
    <head>
        <title>N/A Settings</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div style="text-align:center">
            Нет активного Шаблона сайта.<br>
            Откройте <a href="/admin" target="_blank">Админку</a>, и задйте хотя бы один!
        </div>
    </body>
</html>
