.page-header{
  background: silver;
  margin-top: 0px;
  padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active
{
  font-family: 'Galada', cursive;
  color: white
}

h2 a,
h2{
  font-family: 'Galada', cursive;
  color: grey;
}

.content{
  padding: 15px;
}

.datelbl{
  float: right;
  color: silver;
  font-style: italic;
}
